html, body, input, span {
	font-family: Consolas, monaco, monospace;
	color: #00FF00;
	background-color: #000;
	border: none;
	outline: none;
	font-size: 1em;
	margin: 0;
}

::selection {
  background: #696969;
}
::-moz-selection {
  background: #696969;
}

@media screen and (min-width: 768px) {

	html, body, input, span {
		font-size: 1.2em;
	}

}